.b{
    display: flex;
    justify-content: space-between;
}

.c {
    display: flex;
    justify-content: space-between;
}

.d {
    display: flex;
    justify-content: space-between;
}

.e {
    display: flex;
    justify-content: space-between;
}

.f {
    display: flex;
    justify-content: space-between;
}